## Predicting Catalog Demand

In [2]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from patsy import dmatrices

import matplotlib as 

cust_df=pd.read_excel('p1-customers.xlsx')
mail_df=pd.read_excel('p1-mailinglist.xlsx')

display(cust_df.head())
display(mail_df.head())

,Name,Customer_Segment,Customer_ID,Address,City,State,ZIP,Avg_Sale_Amount,Store_Number,Responded_to_Last_Catalog,Avg_Num_Products_Purchased,#_Years_as_Customer
0,Pamela Wright,Store Mailing List,2,376 S Jasmine St,Denver,CO,80224,227.90,100,No,1,6
1,Danell Valdez,Store Mailing List,7,12066 E Lake Cir,Greenwood Village,CO,80111,55.00,105,Yes,1,6
2,Jessica Rinehart,Store Mailing List,8,7225 S Gaylord St,Centennial,CO,80122,212.57,101,No,1,3
3,Nancy Clark,Store Mailing List,9,4497 Cornish Way,Denver,CO,80239,195.31,105,Yes,1,6
4,Andrea Brun,Store Mailing List,10,2316 E 5th Ave,Denver,CO,80206,110.55,100,Yes,1,2

,Name,Customer_Segment,Customer_ID,Address,City,State,ZIP,Store_Number,Avg_Num_Products_Purchased,#_Years_as_Customer,Score_No,Score_Yes
0,A Giametti,Loyalty Club Only,2213,5326 S Lisbon Way,Centennial,CO,80015,105,3,0.2,0.694964,0.305036
1,Abby Pierson,Loyalty Club and Credit Card,2785,4344 W Roanoke Pl,Denver,CO,80236,101,6,0.6,0.527275,0.472725
2,Adele Hallman,Loyalty Club Only,2931,5219 S Delaware St,Englewood,CO,80110,101,7,0.9,0.421118,0.578882
3,Alejandra Baird,Loyalty Club Only,2231,2301 Lawrence St,Denver,CO,80205,103,2,0.6,0.694862,0.305138
4,Alice Dewitt,Loyalty Club Only,2530,5549 S Hannibal Way,Centennial,CO,80015,104,4,0.5,0.612294,0.387706

In [25]:
cust_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 12 columns):
Name                          2375 non-null object
Customer_Segment              2375 non-null object
Customer_ID                   2375 non-null int64
Address                       2375 non-null object
City                          2375 non-null object
State                         2375 non-null object
ZIP                           2375 non-null int64
Avg_Sale_Amount               2375 non-null float64
Store_Number                  2375 non-null int64
Responded_to_Last_Catalog     2375 non-null object
Avg_Num_Products_Purchased    2375 non-null int64
#_Years_as_Customer           2375 non-null int64
dtypes: float64(1), int64(5), object(6)
memory usage: 222.8+ KB

In [27]:
cust_df.columns.values
exclude = ['Name','Customer_ID','Address','State']
features = cust_df.columns[~cust_df.columns.isin(exclude)]
cust_df[['ZIP','Store_Number']] = cust_df[['ZIP','Store_Number']].astype('str')
cust_df = cust_df[features]

y, X = dmatrices(f'Avg_Sale_Amount ~ {}')

,Customer_Segment,City,ZIP,Avg_Sale_Amount,Store_Number,Responded_to_Last_Catalog,Avg_Num_Products_Purchased,#_Years_as_Customer
0,Store Mailing List,Denver,80224,227.90,100,No,1,6
1,Store Mailing List,Greenwood Village,80111,55.00,105,Yes,1,6
2,Store Mailing List,Centennial,80122,212.57,101,No,1,3
3,Store Mailing List,Denver,80239,195.31,105,Yes,1,6
4,Store Mailing List,Denver,80206,110.55,100,Yes,1,2
...,...,...,...,...,...,...,...,...
2370,Credit Card Only,Denver,80219,818.72,101,No,5,1
2371,Credit Card Only,Aurora,80014,564.93,105,No,6,4
2372,Credit Card Only,Aurora,80017,605.07,105,No,6,4
2373,Credit Card Only,Arvada,80002,656.79,107,No,7,7
2374,Credit Card Only,Denver,80247,167.59,104,No,1,3

In [30]:
' + '.join(features)

'Customer_Segment + City + ZIP + Avg_Sale_Amount + Store_Number + Responded_to_Last_Catalog + Avg_Num_Products_Purchased + #_Years_as_Customer'

In [ ]:
features